@charset "UTF-8";

fieldset{
    width:40%;
    padding: 20px;
    margin: 15px auto;
    border-radius: 20px;
    background-color: #ffffff;
    text-align: center;
    box-shadow: 5px 5px 5px 5px rgba(65, 65, 65, 0.2);
}
legend{
    font-weight: bold;
    background-color: #fff;
    color: black;
}
div.div1 {
    display: flex;
}
div.div1 label{
    display: block;
    width: 130px;
    text-align: right;
    margin: 8px;
    padding: 5px;
    font-weight: bold;
    color: black;
 }
 div.div1 input{
    background-color: #ffffff;
    color: black;
    border:3px solid rgba(65, 65, 65, 0.2);
    border-radius: 5px;
    margin-bottom:5px;
    width: 70%;

}
div.div input:focus{
    background-color: #ffffff;
    border-color: black;
    width: 60%;
    transition: 0.2s;
}
