

div.advertisement{
    display: flex;
    margin: 10px auto;
    width:1300px;
    height: 300px;
}
div.advertisement img{
    width: 50%;
}
footer{
    position:absolute;
    width: 100%;
    margin-top: 30px;
    background-color: lightblue;
    color:darkblue;
    text-align: right;
    padding:0.5rem;
    font-family: 'Jua', sans-serif;
}