@import url('https://fonts.googleapis.com/css?family=Jua&display=swap');

div.main table{
    width:50%;
    height: auto;
    font-family: 'Jua', sans-serif;
}
div.main table tr{
    text-align: center;
}
div.main table th{
    font-size: 20px;
    color: salmon;
}
div.main table td{
    font-size: 16px;
    color: grey;
}
div.main table td a {
    text-decoration: none;
    color: inherit;
}
