@charset "UTF-8";

aside {
	max-width :50px;
	margin: 0 3px;
}
body,div,nav,ul{
	padding: 0;
	margin:0;
}
nav.listmenu {
	float: left;
	display: inline-block;
	margin: 0;
	padding: 5px;
	border: 2px solid purple;
	border-radius: 20px;
	min-width: 230px;
	text-align: left;
	font-family: 'Jua', sans-serif;
}

nav.listmenu p {
	font-size: 30px;
	text-align: center;
}

nav.listmenu ul li {
	list-style: none;
	display: block;
	margin: 13px;
	color: darkblue;
}

nav.listmenu ul li a {
	text-decoration: none;
	color: inherit;
}

nav.listmenu ul li a:hover {
	background-color: aqua;
	cursor: pointer;
}


table {
	color: darkblue;
	text-align: center;
	padding:1rem;
	align-items: center;
	justify-content:center;
	margin-right: 100px;
}

table td {
	min-width: 200px;
}

table td a {
	text-decoration: none;
	font-family: 'Jua', sans-serif;
	color: darkblue;
}

/* footer */
aside.img {
	display: flex;
	justify-content: flex-end;
	align-items:center;
	height: 520px;
	width: 342px;
}