@charset "UTF-8";

table.list {
	border-collapse: collapse;
	border-spacing: 0;
	width: 60%;
	border: 1px solid #ccc;
	margin: 10px auto;
	font-size: 20px;
	font-family: 'Jua', sans-serif;
}

table.list td {
	text-align: center;
}

table.list tr:nth-child(odd) {
	background-color: lightblue;
}

table.list tr:nth-child(even) {
	background-color: lightsteelblue;
}

table.list #tr_head {
	background-color: black;
	color:white;
}

table.profile {
	border-collapse: collapse;
	border-spacing: 0;
	width: 50%;
	border: 1px solid #ccc;
	margin: 10px auto;
	font-size: 20px;
	font-family: 'Jua', sans-serif;
	text-align: center;
	table-layout:fixed;
}

table.profile th {
	wrap:nowrap;
	background-color: chocolate
}

table.profile td {
	background-color: beige;
	
}

table.profile img {
	min-height: 200px;
	max-width:200px;
}

table.profile #image {
	background-color: white;
}
table.profile tr.career {
	min-height:200px;
	
}
table.profile #career {
	font-size:23px;
}